@page
@model YasayanKutuphane.Pages.Admin.Kitap.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Ayrıntılar</h1>

<div>
    <h4>Kitap</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kitap.Kategori)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kitap.Kategori.Isim)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kitap.Dil)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kitap.Dil.Isim)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kitap.Yayinevi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kitap.Yayinevi.Isim)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kitap.KapakTipi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kitap.KapakTipi.Isim)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kitap.KitapTuru)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kitap.KitapTuru.Isim)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kitap.Isim)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kitap.Isim)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kitap.Tanitim)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kitap.Tanitim)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kitap.KapakFotografi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kitap.KapakFotografi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kitap.BasimTarihi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kitap.BasimTarihi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kitap.SayfaSayisi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kitap.SayfaSayisi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kitap.Puan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kitap.Puan)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Kitap.ID" class="btn btn-info">
        <i class="fas fa-edit"></i> &nbsp;
        Güncelle
    </a><br /> <br />
    <a asp-page="./Index" class="btn btn-dark">
        <i class="fas fa-home"></i> &nbsp;
        Geri Dön &nbsp;
    </a><br />
</div>
