@page
@model YasayanKutuphane.Pages.Admin.Yayinevi.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Ayrıntılar</h1>

<div>
    <h4>Yayinevi</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Yayinevi.Isim)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Yayinevi.Isim)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Yayinevi.DisplayOrder)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Yayinevi.DisplayOrder)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Yayinevi.ID" class="btn btn-info">
        <i class="fas fa-edit"></i> &nbsp;
        Güncelle
    </a><br /><br />
    <a asp-page="./Index" class="btn btn-dark">
        <i class="fas fa-home"></i> &nbsp;
        Geri Dön  &nbsp;
    </a><br />
</div>
