@page
@model YasayanKutuphane.Pages.Admin.Yorum.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Sil</h1>

<h3>Bu Verileri Silmek İStediğine Emin Misin?</h3>
<div>
    <h4>Yorum</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Yorum.Kitap)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Yorum.Kitap.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Yorum.YorumTarihi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Yorum.YorumTarihi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Yorum.Icerik)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Yorum.Icerik)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Yorum.ID" />
        <input type="submit" value="Sil" class="btn btn-danger" />
        <a asp-page="./Index" class="btn btn-dark">
            <i class="fas fa-home"></i> &nbsp;
            Geri Dön
        </a><br />
    </form>
</div>
